.bannerLine {
  position: relative;
  top: 50px;
  right: 10px;
}
.the {
  margin-bottom: 54px;
}
.banner-color-pattern1 {
  width: 200px;
  height: 150px;
  border-radius: 50%;
  background-color: #009c95;
  filter: blur(100.94999694824219px);
  z-index: 1;
  top: 50%;
  left: 90%;
  position: relative;
  animation: parabolicMove 7s infinite;
}
@keyframes parabolicMove {
  0% {
    top: 50%;
    left: 90%;
    transform: translateX(-50%) translateY(0);
  }
  25% {
    top: 40%;
    left: 70%;
    transform: translateX(-50%) translateY(-10%);
  }
  50% {
    top: 30%;
    left: 50%;
    transform: translateX(-50%) translateY(-20%);
  }
  75% {
    top: 40%;
    left: 70%;
    transform: translateX(-50%) translateY(-10%);
  }
  100% {
    top: 50%;
    left: 90%;
    transform: translateX(-50%) translateY(0);
  }
}
.star1 {
  position: relative;
  bottom: 360px;
}
.star2 {
  display: block;
  margin-left: auto;
}
.hoverName {
  display: none;
}
.hoverName :hover {
}
